.T_AdvancedCircuit {background-position: 0px 0px;}
.T_AdvancedCircuitBoard {background-position: -32px 0px;}
.T_Basalt {background-position: -64px 0px;}
.T_BasicPlatform {background-position: -96px 0px;}
.T_Battery {background-position: -128px 0px;}
.T_Biomass {background-position: -160px 0px;}
.T_Bricks {background-position: -192px 0px;}
.T_Catalyst {background-position: -224px 0px;}
.T_Cell {background-position: -256px 0px;}
.T_Chlorine {background-position: -288px 0px;}
.T_CinnabarCluster {background-position: 0px -32px;}
.T_CinnabarCrystal {background-position: -32px -32px;}
.T_Circuit {background-position: -64px -32px;}
.T_CircuitBoard {background-position: -96px -32px;}
.T_Clay {background-position: -128px -32px;}
.T_Coal {background-position: -160px -32px;}
.T_Coke {background-position: -192px -32px;}
.T_Column {background-position: -224px -32px;}
.T_Computations {background-position: -256px -32px;}
.T_Concrete {background-position: -288px -32px;}
.T_ConcreteBricks {background-position: 0px -64px;}
.T_ConcreteSmallTiles {background-position: -32px -64px;}
.T_ConcreteTiles {background-position: -64px -64px;}
.T_ControlCell {background-position: -96px -64px;}
.T_CopperWire {background-position: -128px -64px;}
.T_Creosote {background-position: -160px -64px;}
.T_DangerBlock {background-position: -192px -64px;}
.T_DarkBricks {background-position: -224px -64px;}
.T_DarkStone {background-position: -256px -64px;}
.T_DarkTiles {background-position: -288px -64px;}
.T_DepletedUraniumCell {background-position: 0px -96px;}
.T_Dirt {background-position: -32px -96px;}
.T_Electricity {background-position: -64px -96px;}
.T_Emerald {background-position: -96px -96px;}
.T_Ethylene {background-position: -128px -96px;}
.T_FilteringCell {background-position: -160px -96px;}
.T_FluetedColumn {background-position: -192px -96px;}
.T_Gasoline {background-position: -224px -96px;}
.T_Glass {background-position: -256px -96px;}
.T_GoldWire {background-position: -288px -96px;}
.T_Granite {background-position: 0px -128px;}
.T_Gravel {background-position: -32px -128px;}
.T_Heat {background-position: -64px -128px;}
.T_HeavyOil {background-position: -96px -128px;}
.T_Helium {background-position: -128px -128px;}
.T_HotHardMetalIngot {background-position: -160px -128px;}
.T_HotNeutroniumIngot {background-position: -192px -128px;}
.T_Hydrogen {background-position: -224px -128px;}
.T_Kinetic {background-position: -256px -128px;}
.T_Log {background-position: -288px -128px;}
.T_MalachiteCluster {background-position: 0px -160px;}
.T_MalachiteCrystal {background-position: -32px -160px;}
.T_Mercury {background-position: -64px -160px;}
.T_Methane {background-position: -96px -160px;}
.T_MineralWater {background-position: -128px -160px;}
.T_MothershipPing {background-position: -160px -160px;}
.T_Nitrogen {background-position: -192px -160px;}
.T_OreWater {background-position: -224px -160px;}
.T_Organics {background-position: -256px -160px;}
.T_Oxygen {background-position: -288px -160px;}
.T_Peat {background-position: 0px -192px;}
.T_Plank {background-position: -32px -192px;}
.T_Plastic {background-position: -64px -192px;}
.T_PlutoniumCell {background-position: -96px -192px;}
.T_Processor {background-position: -128px -192px;}
.T_ProducerGas {background-position: -160px -192px;}
.T_Pumpkin {background-position: -192px -192px;}
.T_QuantumBrain {background-position: -224px -192px;}
.T_QuantumCircuit {background-position: -256px -192px;}
.T_QuantumCore {background-position: -288px -192px;}
.T_QuantumProcessor {background-position: 0px -224px;}
.T_RareEarthElement {background-position: -32px -224px;}
.T_RawOil {background-position: -64px -224px;}
.T_RedBricks {background-position: -96px -224px;}
.T_RedStone {background-position: -128px -224px;}
.T_RedTiles {background-position: -160px -224px;}
.T_ReflectorCell {background-position: -192px -224px;}
.T_ReinforcedConcrete {background-position: -224px -224px;}
.T_ReinforcedConcreteBricks {background-position: -256px -224px;}
.T_ReinforcedConcreteSmallTiles {background-position: -288px -224px;}
.T_ReinforcedConcreteTiles {background-position: 0px -256px;}
.T_RustyCopperCasing {background-position: -32px -256px;}
.T_RustyIronCasing {background-position: -64px -256px;}
.T_RutileCrystal {background-position: -96px -256px;}
.T_Sand {background-position: -128px -256px;}
.T_Silicon {background-position: -160px -256px;}
.T_SiliconOxide {background-position: -192px -256px;}
.T_SiliconWafer {background-position: -224px -256px;}
.T_Steam {background-position: -256px -256px;}
.T_Stone {background-position: -288px -256px;}
.T_StoneLog {background-position: 0px -288px;}
.T_StoneTiles {background-position: -32px -288px;}
.T_Sulfur {background-position: -64px -288px;}
.T_SulfuricAcid {background-position: -96px -288px;}
.T_SuperconductorWire {background-position: -128px -288px;}
.T_Terracotta {background-position: -160px -288px;}
.T_TerracottaBricks {background-position: -192px -288px;}
.T_TerracottaTiles {background-position: -224px -288px;}
.T_ThoriumCell {background-position: -256px -288px;}
.T_TitaniumSponge {background-position: -288px -288px;}
.T_TitaniumTetrachloride {background-position: 0px -320px;}
.T_UltimateCatalyst {background-position: -32px -320px;}
.T_UraniniteCluster {background-position: -64px -320px;}
.T_UraniniteCrystal {background-position: -96px -320px;}
.T_Uranium233Cell {background-position: -128px -320px;}
.T_UraniumCell {background-position: -160px -320px;}
.T_Water {background-position: -192px -320px;}
.T_CopperMacerator {background-position: -224px -320px;}
.T_SteelMacerator {background-position: -256px -320px;}
.T_AluminiumMacerator {background-position: -288px -320px;}
.T_StainlessSteelMacerator {background-position: 0px -352px;}
.T_TitaniumMacerator {background-position: -32px -352px;}
.T_HardMetalMacerator {background-position: -64px -352px;}
.T_NeutroniumMacerator {background-position: -96px -352px;}
.T_CopperCuttingMachine {background-position: -128px -352px;}
.T_SteelCuttingMachine {background-position: -160px -352px;}
.T_AluminiumCuttingMachine {background-position: -192px -352px;}
.T_StainlessSteelCuttingMachine {background-position: -224px -352px;}
.T_TitaniumCuttingMachine {background-position: -256px -352px;}
.T_HardMetalCuttingMachine {background-position: -288px -352px;}
.T_NeutroniumCuttingMachine {background-position: 0px -384px;}
.T_StainlessSteelFermenter {background-position: -32px -384px;}
.T_TitaniumFermenter {background-position: -64px -384px;}
.T_HardMetalFermenter {background-position: -96px -384px;}
.T_NeutroniumFermenter {background-position: -128px -384px;}
.T_SteelChemReactor {background-position: -160px -384px;}
.T_AluminiumChemReactor {background-position: -192px -384px;}
.T_StainlessSteelChemReactor {background-position: -224px -384px;}
.T_TitaniumChemReactor {background-position: -256px -384px;}
.T_HardMetalChemReactor {background-position: -288px -384px;}
.T_NeutroniumChemReactor {background-position: 0px -416px;}
.T_SteelSeparator {background-position: -32px -416px;}
.T_AluminiumSeparator {background-position: -64px -416px;}
.T_StainlessSteelSeparator {background-position: -96px -416px;}
.T_TitaniumSeparator {background-position: -128px -416px;}
.T_HardMetalSeparator {background-position: -160px -416px;}
.T_NeutroniumSeparator {background-position: -192px -416px;}
.T_CopperBeam {background-position: -224px -416px;}
.T_SteelBeam {background-position: -256px -416px;}
.T_AluminiumBeam {background-position: -288px -416px;}
.T_StainlessSteelBeam {background-position: 0px -448px;}
.T_TitaniumBeam {background-position: -32px -448px;}
.T_HardMetalBeam {background-position: -64px -448px;}
.T_NeutroniumBeam {background-position: -96px -448px;}
.T_CopperCorner {background-position: -128px -448px;}
.T_SteelCorner {background-position: -160px -448px;}
.T_AluminiumCorner {background-position: -192px -448px;}
.T_StainlessSteelCorner {background-position: -224px -448px;}
.T_TitaniumCorner {background-position: -256px -448px;}
.T_HardMetalCorner {background-position: -288px -448px;}
.T_NeutroniumCorner {background-position: 0px -480px;}
.T_CopperAutomaticHammer {background-position: -32px -480px;}
.T_SteelAutomaticHammer {background-position: -64px -480px;}
.T_AluminiumAutomaticHammer {background-position: -96px -480px;}
.T_StainlessSteelAutomaticHammer {background-position: -128px -480px;}
.T_TitaniumAutomaticHammer {background-position: -160px -480px;}
.T_HardMetalAutomaticHammer {background-position: -192px -480px;}
.T_NeutroniumAutomaticHammer {background-position: -224px -480px;}
.T_SteelBoiler {background-position: -256px -480px;}
.T_AluminiumBoiler {background-position: -288px -480px;}
.T_StainlessSteelBoiler {background-position: 0px -512px;}
.T_TitaniumBoiler {background-position: -32px -512px;}
.T_HardMetalBoiler {background-position: -64px -512px;}
.T_NeutroniumBoiler {background-position: -96px -512px;}
.T_CopperPipe {background-position: -128px -512px;}
.T_SteelPipe {background-position: -160px -512px;}
.T_AluminiumPipe {background-position: -192px -512px;}
.T_StainlessSteelPipe {background-position: -224px -512px;}
.T_TitaniumPipe {background-position: -256px -512px;}
.T_HardMetalPipe {background-position: -288px -512px;}
.T_NeutroniumPipe {background-position: 0px -544px;}
.T_CopperHeatPipe {background-position: -32px -544px;}
.T_SteelFlywheel {background-position: -64px -544px;}
.T_CopperScaffold {background-position: -96px -544px;}
.T_SteelScaffold {background-position: -128px -544px;}
.T_AluminiumScaffold {background-position: -160px -544px;}
.T_StainlessSteelScaffold {background-position: -192px -544px;}
.T_TitaniumScaffold {background-position: -224px -544px;}
.T_HardMetalScaffold {background-position: -256px -544px;}
.T_NeutroniumScaffold {background-position: -288px -544px;}
.T_StoneSign {background-position: 0px -576px;}
.T_CopperSign {background-position: -32px -576px;}
.T_SteelSign {background-position: -64px -576px;}
.T_AluminiumSign {background-position: -96px -576px;}
.T_StainlessSteelSign {background-position: -128px -576px;}
.T_TitaniumSign {background-position: -160px -576px;}
.T_HardMetalSign {background-position: -192px -576px;}
.T_NeutroniumSign {background-position: -224px -576px;}
.T_SteelAdvancedSign {background-position: -256px -576px;}
.T_AluminiumAdvancedSign {background-position: -288px -576px;}
.T_StainlessSteelAdvancedSign {background-position: 0px -608px;}
.T_TitaniumAdvancedSign {background-position: -32px -608px;}
.T_HardMetalAdvancedSign {background-position: -64px -608px;}
.T_NeutroniumAdvancedSign {background-position: -96px -608px;}
.T_CopperConnector {background-position: -128px -608px;}
.T_StoneChest {background-position: -160px -608px;}
.T_CopperChest {background-position: -192px -608px;}
.T_SteelChest {background-position: -224px -608px;}
.T_AluminiumChest {background-position: -256px -608px;}
.T_StainlessSteelChest {background-position: -288px -608px;}
.T_TitaniumChest {background-position: 0px -640px;}
.T_HardMetalChest {background-position: -32px -640px;}
.T_NeutroniumChest {background-position: -64px -640px;}
.T_CopperItemRack {background-position: -96px -640px;}
.T_SteelItemRack {background-position: -128px -640px;}
.T_AluminiumItemRack {background-position: -160px -640px;}
.T_StainlessSteelItemRack {background-position: -192px -640px;}
.T_TitaniumItemRack {background-position: -224px -640px;}
.T_HardMetalItemRack {background-position: -256px -640px;}
.T_NeutroniumItemRack {background-position: -288px -640px;}
.T_CopperVent {background-position: 0px -672px;}
.T_SteelElectricalSwitch {background-position: -32px -672px;}
.T_SteelOreWasher {background-position: -64px -672px;}
.T_AluminiumOreWasher {background-position: -96px -672px;}
.T_StainlessSteelOreWasher {background-position: -128px -672px;}
.T_TitaniumOreWasher {background-position: -160px -672px;}
.T_HardMetalOreWasher {background-position: -192px -672px;}
.T_NeutroniumOreWasher {background-position: -224px -672px;}
.T_CopperConveyor {background-position: -256px -672px;}
.T_SteelConveyor {background-position: -288px -672px;}
.T_AluminiumConveyor {background-position: 0px -704px;}
.T_StainlessSteelConveyor {background-position: -32px -704px;}
.T_TitaniumConveyor {background-position: -64px -704px;}
.T_HardMetalConveyor {background-position: -96px -704px;}
.T_NeutroniumConveyor {background-position: -128px -704px;}
.T_CopperSplitter {background-position: -160px -704px;}
.T_SteelSplitter {background-position: -192px -704px;}
.T_AluminiumSplitter {background-position: -224px -704px;}
.T_StainlessSteelSplitter {background-position: -256px -704px;}
.T_TitaniumSplitter {background-position: -288px -704px;}
.T_HardMetalSplitter {background-position: 0px -736px;}
.T_NeutroniumSplitter {background-position: -32px -736px;}
.T_SteelSorter {background-position: -64px -736px;}
.T_AluminiumSorter {background-position: -96px -736px;}
.T_StainlessSteelSorter {background-position: -128px -736px;}
.T_TitaniumSorter {background-position: -160px -736px;}
.T_HardMetalSorter {background-position: -192px -736px;}
.T_NeutroniumSorter {background-position: -224px -736px;}
.T_CopperContainer {background-position: -256px -736px;}
.T_SteelContainer {background-position: -288px -736px;}
.T_AluminiumContainer {background-position: 0px -768px;}
.T_StainlessSteelContainer {background-position: -32px -768px;}
.T_TitaniumContainer {background-position: -64px -768px;}
.T_HardMetalContainer {background-position: -96px -768px;}
.T_NeutroniumContainer {background-position: -128px -768px;}
.T_SteelPress {background-position: -160px -768px;}
.T_AluminiumPress {background-position: -192px -768px;}
.T_StainlessSteelPress {background-position: -224px -768px;}
.T_TitaniumPress {background-position: -256px -768px;}
.T_HardMetalPress {background-position: -288px -768px;}
.T_NeutroniumPress {background-position: 0px -800px;}
.T_CopperStirlingEngine {background-position: -32px -800px;}
.T_SteelStirlingEngine {background-position: -64px -800px;}
.T_AluminiumStirlingEngine {background-position: -96px -800px;}
.T_StainlessSteelStirlingEngine {background-position: -128px -800px;}
.T_TitaniumStirlingEngine {background-position: -160px -800px;}
.T_HardMetalStirlingEngine {background-position: -192px -800px;}
.T_NeutroniumStirlingEngine {background-position: -224px -800px;}
.T_AluminiumPyrolysisUnit {background-position: -256px -800px;}
.T_StainlessSteelPyrolysisUnit {background-position: -288px -800px;}
.T_TitaniumPyrolysisUnit {background-position: 0px -832px;}
.T_HardMetalPyrolysisUnit {background-position: -32px -832px;}
.T_NeutroniumPyrolysisUnit {background-position: -64px -832px;}
.T_SteelGenerator {background-position: -96px -832px;}
.T_AluminiumGenerator {background-position: -128px -832px;}
.T_StainlessSteelGenerator {background-position: -160px -832px;}
.T_TitaniumGenerator {background-position: -192px -832px;}
.T_HardMetalGenerator {background-position: -224px -832px;}
.T_NeutroniumGenerator {background-position: -256px -832px;}
.T_CopperCompactGenerator {background-position: -288px -832px;}
.T_SteelElectricEngine {background-position: 0px -864px;}
.T_AluminiumElectricEngine {background-position: -32px -864px;}
.T_StainlessSteelElectricEngine {background-position: -64px -864px;}
.T_TitaniumElectricEngine {background-position: -96px -864px;}
.T_HardMetalElectricEngine {background-position: -128px -864px;}
.T_NeutroniumElectricEngine {background-position: -160px -864px;}
.T_StainlessSteelIndustrialElectricEngine {background-position: -192px -864px;}
.T_TitaniumIndustrialElectricEngine {background-position: -224px -864px;}
.T_HardMetalIndustrialElectricEngine {background-position: -256px -864px;}
.T_NeutroniumIndustrialElectricEngine {background-position: -288px -864px;}
.T_CopperRobotArm {background-position: 0px -896px;}
.T_SteelRobotArm {background-position: -32px -896px;}
.T_AluminiumRobotArm {background-position: -64px -896px;}
.T_StainlessSteelRobotArm {background-position: -96px -896px;}
.T_TitaniumRobotArm {background-position: -128px -896px;}
.T_HardMetalRobotArm {background-position: -160px -896px;}
.T_NeutroniumRobotArm {background-position: -192px -896px;}
.T_CopperFilteringRobotArm {background-position: -224px -896px;}
.T_SteelFilteringRobotArm {background-position: -256px -896px;}
.T_AluminiumFilteringRobotArm {background-position: -288px -896px;}
.T_StainlessSteelFilteringRobotArm {background-position: 0px -928px;}
.T_TitaniumFilteringRobotArm {background-position: -32px -928px;}
.T_HardMetalFilteringRobotArm {background-position: -64px -928px;}
.T_NeutroniumFilteringRobotArm {background-position: -96px -928px;}
.T_CopperPump {background-position: -128px -928px;}
.T_SteelPump {background-position: -160px -928px;}
.T_AluminiumPump {background-position: -192px -928px;}
.T_StainlessSteelPump {background-position: -224px -928px;}
.T_TitaniumPump {background-position: -256px -928px;}
.T_HardMetalPump {background-position: -288px -928px;}
.T_NeutroniumPump {background-position: 0px -960px;}
.T_CopperFilteringPump {background-position: -32px -960px;}
.T_SteelFilteringPump {background-position: -64px -960px;}
.T_AluminiumFilteringPump {background-position: -96px -960px;}
.T_StainlessSteelFilteringPump {background-position: -128px -960px;}
.T_TitaniumFilteringPump {background-position: -160px -960px;}
.T_HardMetalFilteringPump {background-position: -192px -960px;}
.T_NeutroniumFilteringPump {background-position: -224px -960px;}
.T_StoneSmelter {background-position: -256px -960px;}
.T_CopperSmelter {background-position: -288px -960px;}
.T_SteelSmelter {background-position: 0px -992px;}
.T_SteelSteamTurbine {background-position: -32px -992px;}
.T_AluminiumSteamTurbine {background-position: -64px -992px;}
.T_StainlessSteelSteamTurbine {background-position: -96px -992px;}
.T_TitaniumSteamTurbine {background-position: -128px -992px;}
.T_HardMetalSteamTurbine {background-position: -160px -992px;}
.T_NeutroniumSteamTurbine {background-position: -192px -992px;}
.T_TitaniumIndustrialSteamTurbine {background-position: -224px -992px;}
.T_HardMetalIndustrialSteamTurbine {background-position: -256px -992px;}
.T_NeutroniumIndustrialSteamTurbine {background-position: -288px -992px;}
.T_StainlessSteelGasTurbine {background-position: 0px -1024px;}
.T_TitaniumGasTurbine {background-position: -32px -1024px;}
.T_HardMetalGasTurbine {background-position: -64px -1024px;}
.T_NeutroniumGasTurbine {background-position: -96px -1024px;}
.T_TitaniumRiteg {background-position: -128px -1024px;}
.T_HardMetalRiteg {background-position: -160px -1024px;}
.T_NeutroniumRiteg {background-position: -192px -1024px;}
.T_SteelArcSmelter {background-position: -224px -1024px;}
.T_AluminiumArcSmelter {background-position: -256px -1024px;}
.T_StainlessSteelArcSmelter {background-position: -288px -1024px;}
.T_TitaniumArcSmelter {background-position: 0px -1056px;}
.T_HardMetalArcSmelter {background-position: -32px -1056px;}
.T_NeutroniumArcSmelter {background-position: -64px -1056px;}
.T_AluminiumChemicalBath {background-position: -96px -1056px;}
.T_StainlessSteelChemicalBath {background-position: -128px -1056px;}
.T_TitaniumChemicalBath {background-position: -160px -1056px;}
.T_HardMetalChemicalBath {background-position: -192px -1056px;}
.T_NeutroniumChemicalBath {background-position: -224px -1056px;}
.T_AluminiumSifter {background-position: -256px -1056px;}
.T_StainlessSteelSifter {background-position: -288px -1056px;}
.T_TitaniumSifter {background-position: 0px -1088px;}
.T_HardMetalSifter {background-position: -32px -1088px;}
.T_NeutroniumSifter {background-position: -64px -1088px;}
.T_AluminiumFilteringUnit {background-position: -96px -1088px;}
.T_StainlessSteelFilteringUnit {background-position: -128px -1088px;}
.T_TitaniumFilteringUnit {background-position: -160px -1088px;}
.T_HardMetalFilteringUnit {background-position: -192px -1088px;}
.T_NeutroniumFilteringUnit {background-position: -224px -1088px;}
.T_StoneFurnace {background-position: -256px -1088px;}
.T_CopperFurnace {background-position: -288px -1088px;}
.T_SteelFurnace {background-position: 0px -1120px;}
.T_AluminiumFurnace {background-position: -32px -1120px;}
.T_StainlessSteelFurnace {background-position: -64px -1120px;}
.T_TitaniumFurnace {background-position: -96px -1120px;}
.T_HardMetalFurnace {background-position: -128px -1120px;}
.T_NeutroniumFurnace {background-position: -160px -1120px;}
.T_CopperOven {background-position: -192px -1120px;}
.T_SteelOven {background-position: -224px -1120px;}
.T_AluminiumOven {background-position: -256px -1120px;}
.T_StainlessSteelOven {background-position: -288px -1120px;}
.T_TitaniumOven {background-position: 0px -1152px;}
.T_HardMetalOven {background-position: -32px -1152px;}
.T_NeutroniumOven {background-position: -64px -1152px;}
.T_CopperBlastFurnace {background-position: -96px -1152px;}
.T_SteelBlastFurnace {background-position: -128px -1152px;}
.T_AluminiumBlastFurnace {background-position: -160px -1152px;}
.T_StainlessSteelBlastFurnace {background-position: -192px -1152px;}
.T_TitaniumBlastFurnace {background-position: -224px -1152px;}
.T_HardMetalBlastFurnace {background-position: -256px -1152px;}
.T_NeutroniumBlastFurnace {background-position: -288px -1152px;}
.T_CopperFluidFurnace {background-position: 0px -1184px;}
.T_SteelFluidFurnace {background-position: -32px -1184px;}
.T_AluminiumFluidFurnace {background-position: -64px -1184px;}
.T_StainlessSteelFluidFurnace {background-position: -96px -1184px;}
.T_TitaniumFluidFurnace {background-position: -128px -1184px;}
.T_HardMetalFluidFurnace {background-position: -160px -1184px;}
.T_NeutroniumFluidFurnace {background-position: -192px -1184px;}
.T_SteelElectricFurnace {background-position: -224px -1184px;}
.T_AluminiumElectricFurnace {background-position: -256px -1184px;}
.T_StainlessSteelElectricFurnace {background-position: -288px -1184px;}
.T_TitaniumElectricFurnace {background-position: 0px -1216px;}
.T_HardMetalElectricFurnace {background-position: -32px -1216px;}
.T_NeutroniumElectricFurnace {background-position: -64px -1216px;}
.T_StainlessSteelBatteryBox {background-position: -96px -1216px;}
.T_TitaniumBatteryBox {background-position: -128px -1216px;}
.T_HardMetalBatteryBox {background-position: -160px -1216px;}
.T_NeutroniumBatteryBox {background-position: -192px -1216px;}
.T_AluminiumSmallBattery {background-position: -224px -1216px;}
.T_StainlessSteelSmallBattery {background-position: -256px -1216px;}
.T_TitaniumSmallBattery {background-position: -288px -1216px;}
.T_HardMetalSmallBattery {background-position: 0px -1248px;}
.T_NeutroniumSmallBattery {background-position: -32px -1248px;}
.T_NeutroniumPortal {background-position: -64px -1248px;}
.T_CopperDrillingRig {background-position: -96px -1248px;}
.T_SteelDrillingRig {background-position: -128px -1248px;}
.T_AluminiumDrillingRig {background-position: -160px -1248px;}
.T_StainlessSteelDrillingRig {background-position: -192px -1248px;}
.T_TitaniumDrillingRig {background-position: -224px -1248px;}
.T_HardMetalDrillingRig {background-position: -256px -1248px;}
.T_NeutroniumDrillingRig {background-position: -288px -1248px;}
.T_CopperAssembler {background-position: 0px -1280px;}
.T_SteelAssembler {background-position: -32px -1280px;}
.T_AluminiumAssembler {background-position: -64px -1280px;}
.T_StainlessSteelAssembler {background-position: -96px -1280px;}
.T_TitaniumAssembler {background-position: -128px -1280px;}
.T_HardMetalAssembler {background-position: -160px -1280px;}
.T_NeutroniumAssembler {background-position: -192px -1280px;}
.T_SteelConstructor {background-position: -224px -1280px;}
.T_AluminiumConstructor {background-position: -256px -1280px;}
.T_StainlessSteelConstructor {background-position: -288px -1280px;}
.T_TitaniumConstructor {background-position: 0px -1312px;}
.T_HardMetalConstructor {background-position: -32px -1312px;}
.T_NeutroniumConstructor {background-position: -64px -1312px;}
.T_SteelDeconstructor {background-position: -96px -1312px;}
.T_AluminiumDeconstructor {background-position: -128px -1312px;}
.T_StainlessSteelDeconstructor {background-position: -160px -1312px;}
.T_TitaniumDeconstructor {background-position: -192px -1312px;}
.T_HardMetalDeconstructor {background-position: -224px -1312px;}
.T_NeutroniumDeconstructor {background-position: -256px -1312px;}
.T_CopperFluidDump {background-position: -288px -1312px;}
.T_SteelFluidDump {background-position: 0px -1344px;}
.T_AluminiumFluidDump {background-position: -32px -1344px;}
.T_StainlessSteelFluidDump {background-position: -64px -1344px;}
.T_TitaniumFluidDump {background-position: -96px -1344px;}
.T_HardMetalFluidDump {background-position: -128px -1344px;}
.T_NeutroniumFluidDump {background-position: -160px -1344px;}
.T_SteelGasDump {background-position: -192px -1344px;}
.T_SteelSolidDump {background-position: -224px -1344px;}
.T_CopperLamp {background-position: -256px -1344px;}
.T_SteelLamp {background-position: -288px -1344px;}
.T_AluminiumLamp {background-position: 0px -1376px;}
.T_StainlessSteelLamp {background-position: -32px -1376px;}
.T_TitaniumLamp {background-position: -64px -1376px;}
.T_HardMetalLamp {background-position: -96px -1376px;}
.T_NeutroniumLamp {background-position: -128px -1376px;}
.T_SteelElectrolyzer {background-position: -160px -1376px;}
.T_AluminiumElectrolyzer {background-position: -192px -1376px;}
.T_StainlessSteelElectrolyzer {background-position: -224px -1376px;}
.T_TitaniumElectrolyzer {background-position: -256px -1376px;}
.T_HardMetalElectrolyzer {background-position: -288px -1376px;}
.T_NeutroniumElectrolyzer {background-position: 0px -1408px;}
.T_SteelMixer {background-position: -32px -1408px;}
.T_AluminiumMixer {background-position: -64px -1408px;}
.T_StainlessSteelMixer {background-position: -96px -1408px;}
.T_TitaniumMixer {background-position: -128px -1408px;}
.T_HardMetalMixer {background-position: -160px -1408px;}
.T_NeutroniumMixer {background-position: -192px -1408px;}
.T_TitaniumFreezer {background-position: -224px -1408px;}
.T_HardMetalFreezer {background-position: -256px -1408px;}
.T_NeutroniumFreezer {background-position: -288px -1408px;}
.T_CopperAutomaticFarm {background-position: 0px -1440px;}
.T_SteelAutomaticFarm {background-position: -32px -1440px;}
.T_AluminiumAutomaticFarm {background-position: -64px -1440px;}
.T_StainlessSteelAutomaticFarm {background-position: -96px -1440px;}
.T_TitaniumAutomaticFarm {background-position: -128px -1440px;}
.T_HardMetalAutomaticFarm {background-position: -160px -1440px;}
.T_NeutroniumAutomaticFarm {background-position: -192px -1440px;}
.T_CopperAtmosphericCondenser {background-position: -224px -1440px;}
.T_SteelAtmosphericCondenser {background-position: -256px -1440px;}
.T_AluminiumAtmosphericCondenser {background-position: -288px -1440px;}
.T_StainlessSteelAtmosphericCondenser {background-position: 0px -1472px;}
.T_TitaniumAtmosphericCondenser {background-position: -32px -1472px;}
.T_HardMetalAtmosphericCondenser {background-position: -64px -1472px;}
.T_NeutroniumAtmosphericCondenser {background-position: -96px -1472px;}
.T_StainlessSteelTerminal {background-position: -128px -1472px;}
.T_TitaniumTerminal {background-position: -160px -1472px;}
.T_HardMetalTerminal {background-position: -192px -1472px;}
.T_StainlessSteelFlatTerminal {background-position: -224px -1472px;}
.T_TitaniumFlatTerminal {background-position: -256px -1472px;}
.T_HardMetalFlatTerminal {background-position: -288px -1472px;}
.T_CopperComputer {background-position: 0px -1504px;}
.T_SteelComputer {background-position: -32px -1504px;}
.T_AluminiumComputer {background-position: -64px -1504px;}
.T_StainlessSteelComputer {background-position: -96px -1504px;}
.T_TitaniumComputer {background-position: -128px -1504px;}
.T_HardMetalComputer {background-position: -160px -1504px;}
.T_NeutroniumComputer {background-position: -192px -1504px;}
.T_TitaniumQuantumComputer {background-position: -224px -1504px;}
.T_HardMetalQuantumComputer {background-position: -256px -1504px;}
.T_NeutroniumQuantumComputer {background-position: -288px -1504px;}
.T_AluminiumIndustrialSeparator {background-position: 0px -1536px;}
.T_StainlessSteelIndustrialSeparator {background-position: -32px -1536px;}
.T_TitaniumIndustrialSeparator {background-position: -64px -1536px;}
.T_HardMetalIndustrialSeparator {background-position: -96px -1536px;}
.T_NeutroniumIndustrialSeparator {background-position: -128px -1536px;}
.T_AluminiumRadiator {background-position: -160px -1536px;}
.T_StainlessSteelRadiator {background-position: -192px -1536px;}
.T_TitaniumRadiator {background-position: -224px -1536px;}
.T_HardMetalRadiator {background-position: -256px -1536px;}
.T_NeutroniumRadiator {background-position: -288px -1536px;}
.T_SteelDiode {background-position: 0px -1568px;}
.T_AluminiumDiode {background-position: -32px -1568px;}
.T_StainlessSteelDiode {background-position: -64px -1568px;}
.T_TitaniumDiode {background-position: -96px -1568px;}
.T_HardMetalDiode {background-position: -128px -1568px;}
.T_NeutroniumDiode {background-position: -160px -1568px;}
.T_TitaniumFissionReactor {background-position: -192px -1568px;}
.T_HardMetalFissionReactor {background-position: -224px -1568px;}
.T_NeutroniumFissionReactor {background-position: -256px -1568px;}
.T_HardMetalFusionReactor {background-position: -288px -1568px;}
.T_NeutroniumFusionReactor {background-position: 0px -1600px;}
.T_TitaniumIndustrialBoiler {background-position: -32px -1600px;}
.T_HardMetalIndustrialBoiler {background-position: -64px -1600px;}
.T_NeutroniumIndustrialBoiler {background-position: -96px -1600px;}
.T_AluminiumSolarPanel {background-position: -128px -1600px;}
.T_StainlessSteelSolarPanel {background-position: -160px -1600px;}
.T_TitaniumSolarPanel {background-position: -192px -1600px;}
.T_HardMetalSolarPanel {background-position: -224px -1600px;}
.T_NeutroniumSolarPanel {background-position: -256px -1600px;}
.T_AluminiumPumpjack {background-position: -288px -1600px;}
.T_StainlessSteelPumpjack {background-position: 0px -1632px;}
.T_TitaniumPumpjack {background-position: -32px -1632px;}
.T_HardMetalPumpjack {background-position: -64px -1632px;}
.T_NeutroniumPumpjack {background-position: -96px -1632px;}
.T_StainlessSteelIndustrialSmelter {background-position: -128px -1632px;}
.T_TitaniumIndustrialSmelter {background-position: -160px -1632px;}
.T_HardMetalIndustrialSmelter {background-position: -192px -1632px;}
.T_NeutroniumIndustrialSmelter {background-position: -224px -1632px;}
.T_StainlessSteelInductionCoil {background-position: -256px -1632px;}
.T_TitaniumInductionCoil {background-position: -288px -1632px;}
.T_HardMetalInductionCoil {background-position: 0px -1664px;}
.T_NeutroniumInductionCoil {background-position: -32px -1664px;}
.T_SteelLogicCircuit {background-position: -64px -1664px;}
.T_SteelLogicInterface {background-position: -96px -1664px;}
.T_SteelLogicController {background-position: -128px -1664px;}
.T_SteelLogicDisplay {background-position: -160px -1664px;}
.T_SteelLogicWire {background-position: -192px -1664px;}
.T_CopperOre {background-position: -224px -1664px;}
.T_CopperOreGravel {background-position: -256px -1664px;}
.T_CopperImpureOreGravel {background-position: -288px -1664px;}
.T_CopperOreDust {background-position: 0px -1696px;}
.T_IronOre {background-position: -32px -1696px;}
.T_IronOreGravel {background-position: -64px -1696px;}
.T_IronImpureOreGravel {background-position: -96px -1696px;}
.T_IronOreDust {background-position: -128px -1696px;}
.T_UraniumOre {background-position: -160px -1696px;}
.T_UraniumOreGravel {background-position: -192px -1696px;}
.T_UraniumImpureOreGravel {background-position: -224px -1696px;}
.T_UraniumOreDust {background-position: -256px -1696px;}
.T_AluminiumOre {background-position: -288px -1696px;}
.T_AluminiumOreGravel {background-position: 0px -1728px;}
.T_AluminiumImpureOreGravel {background-position: -32px -1728px;}
.T_AluminiumOreDust {background-position: -64px -1728px;}
.T_CopperPlate {background-position: -96px -1728px;}
.T_SteelPlate {background-position: -128px -1728px;}
.T_AluminiumPlate {background-position: -160px -1728px;}
.T_StainlessSteelPlate {background-position: -192px -1728px;}
.T_TitaniumPlate {background-position: -224px -1728px;}
.T_HardMetalPlate {background-position: -256px -1728px;}
.T_NeutroniumPlate {background-position: -288px -1728px;}
.T_CopperParts {background-position: 0px -1760px;}
.T_SteelParts {background-position: -32px -1760px;}
.T_AluminiumParts {background-position: -64px -1760px;}
.T_StainlessSteelParts {background-position: -96px -1760px;}
.T_TitaniumParts {background-position: -128px -1760px;}
.T_HardMetalParts {background-position: -160px -1760px;}
.T_NeutroniumParts {background-position: -192px -1760px;}
.T_CopperCasing {background-position: -224px -1760px;}
.T_SteelCasing {background-position: -256px -1760px;}
.T_CopperIngot {background-position: -288px -1760px;}
.T_CopperBlock {background-position: 0px -1792px;}
.T_CopperDust {background-position: -32px -1792px;}
.T_GoldIngot {background-position: -64px -1792px;}
.T_GoldBlock {background-position: -96px -1792px;}
.T_GoldDust {background-position: -128px -1792px;}
.T_SuperconductorIngot {background-position: -160px -1792px;}
.T_SuperconductorBlock {background-position: -192px -1792px;}
.T_SuperconductorDust {background-position: -224px -1792px;}
.T_IronIngot {background-position: -256px -1792px;}
.T_IronBlock {background-position: -288px -1792px;}
.T_IronDust {background-position: 0px -1824px;}
.T_SteelIngot {background-position: -32px -1824px;}
.T_SteelBlock {background-position: -64px -1824px;}
.T_SteelDust {background-position: -96px -1824px;}
.T_AluminiumIngot {background-position: -128px -1824px;}
.T_AluminiumBlock {background-position: -160px -1824px;}
.T_AluminiumDust {background-position: -192px -1824px;}
.T_AluminiumOxideBlock {background-position: -224px -1824px;}
.T_AluminiumOxideDust {background-position: -256px -1824px;}
.T_StainlessSteelIngot {background-position: -288px -1824px;}
.T_StainlessSteelBlock {background-position: 0px -1856px;}
.T_StainlessSteelDust {background-position: -32px -1856px;}
.T_TitaniumIngot {background-position: -64px -1856px;}
.T_TitaniumBlock {background-position: -96px -1856px;}
.T_TitaniumDust {background-position: -128px -1856px;}
.T_TitaniumOxideDust {background-position: -160px -1856px;}
.T_PreparedTitaniumOxideDust {background-position: -192px -1856px;}
.T_ZinkBlock {background-position: -224px -1856px;}
.T_ZinkDust {background-position: -256px -1856px;}
.T_LithiumBlock {background-position: -288px -1856px;}
.T_LithiumDust {background-position: 0px -1888px;}
.T_TungstenDust {background-position: -32px -1888px;}
.T_TungstenOxideDust {background-position: -64px -1888px;}
.T_TungstenCarbideDust {background-position: -96px -1888px;}
.T_HardMetalIngot {background-position: -128px -1888px;}
.T_HardMetalBlock {background-position: -160px -1888px;}
.T_HardMetalDust {background-position: -192px -1888px;}
.T_CobaltBlock {background-position: -224px -1888px;}
.T_CobaltDust {background-position: -256px -1888px;}
.T_CobaltOxideDust {background-position: -288px -1888px;}
.T_NeutroniumIngot {background-position: 0px -1920px;}
.T_NeutroniumDust {background-position: -32px -1920px;}
.T_ChromiumDust {background-position: -64px -1920px;}
.T_PlutoniumBlock {background-position: -96px -1920px;}
.T_PlutoniumDust {background-position: -128px -1920px;}
.T_UraniumBlock {background-position: -160px -1920px;}
.T_UraniumDust {background-position: -192px -1920px;}
.T_Uranium235Block {background-position: -224px -1920px;}
.T_Uranium235Dust {background-position: -256px -1920px;}
.T_Uranium233Block {background-position: -288px -1920px;}
.T_Uranium233Dust {background-position: 0px -1952px;}
.T_ThoriumBlock {background-position: -32px -1952px;}
.T_ThoriumDust {background-position: -64px -1952px;}
.T_SodiumBlock {background-position: -96px -1952px;}
.T_SodiumDust {background-position: -128px -1952px;}
.T_PotassiumBlock {background-position: -160px -1952px;}
.T_PotassiumDust {background-position: -192px -1952px;}
.T_ChromiumOxideDust {background-position: -224px -1952px;}
.T_PotassiumChlorideDust {background-position: -256px -1952px;}
.T_BerylliumDust {background-position: -288px -1952px;}
.T_SaltDust {background-position: 0px -1984px;}
.T_CinnabarDust {background-position: -32px -1984px;}
.T_BoronDust {background-position: -64px -1984px;}
.T_BoraxDust {background-position: -96px -1984px;}
.T_EmeraldDust {background-position: -128px -1984px;}